* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl";
  font-display: swap;
  src: url("../fonts/Stolzl-Light.woff") format("woff"), url("../fonts/Stolzl-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl";
  font-display: swap;
  src: url("../fonts/Stolzl-Regular.woff") format("woff"), url("../fonts/Stolzl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
  font-family: Stolzl;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: #260d69;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.fixed {
  position: fixed;
  top: 0;
  padding: 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.fixed:before {
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo {
  position: relative;
  left: -8%;
  z-index: 11;
  margin: 0px 15px 0px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__contacts {
  margin: 0px 1px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__tel {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  margin: 0px 43px 0px 0px;
  position: relative;
}

.header__whatsapp {
  position: relative;
  height: 48px;
  padding: 0px 33px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #4f15f3;
  border-radius: 9px;
  font-family: Gotham Pro;
  font-size: 17px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

.header__whatsapp span {
  padding: 0px 0px 0px 22px;
  position: relative;
  left: 8px;
}

.header__whatsapp:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 50%;
  left: 21px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: url("../img/whatsapp.svg") center/22px 24px no-repeat;
  display: block;
  padding: 0px 0px 0px 5px;
  z-index: 11;
}

.header-menu {
  position: relative;
  left: -152px;
}

.header-menu__icon {
  display: none;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__list li {
  margin: 0px 42px 0px 0px;
}

.header-menu__list li:last-child {
  margin: 0;
}

.header-menu__link {
  font-size: 16px;
  text-align: center;
  color: white;
  position: relative;
}

.first-block {
  background: #4c1dd2;
  padding: 150px 0px 150px 0px;
  position: relative;
}

.first-block__plus-14 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17.5%;
  left: 8.4%;
}

.first-block__plus-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 77.1%;
  left: 12.5%;
}

.first-block__plus-8 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 45.8%;
  left: 52.7%;
}

.first-block__round {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 28%;
  left: 51%;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.first-block__line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #5b2aed;
}

.first-block__line_1 {
  top: 0%;
  left: 2%;
}

.first-block__line_2 {
  top: 0%;
  left: 26%;
}

.first-block__line_3 {
  top: 0%;
  left: 50%;
}

.first-block__line_4 {
  top: 0%;
  left: 74%;
}

.first-block__line_5 {
  top: 0%;
  left: 98%;
}

.first-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-block__info {
  padding: 175px 0px 0px 0px;
  margin: 0px 50px 0px 0px;
  position: relative;
  z-index: 2;
}

.first-block__title {
  max-width: 600px;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  font-weight: 300;
  margin: 0px 0px 23px 0px;
}

.first-block__title span {
  font-weight: 400;
}

.first-block__text {
  font-weight: 300;
  font-size: 25px;
  line-height: 36px;
  color: #ffffff;
  max-width: 540px;
  margin: 0px 0px 54px 0px;
}

.first-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first-block__number {
  margin: 0px 21px 0px 0px;
  background: #ffffff;
  border-radius: 12px;
  max-width: 285px;
  width: 100%;
  padding: 0px 40px 0px 0px;
}

.first-block__button {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: #f86161;
  border-radius: 12px;
  padding: 0px 40px;
  height: 56px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 335px;
  width: 100%;
}

.first-block__images {
  position: relative;
}

.first-block__main-img {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.first-block__main-img img {
  position: relative;
  z-index: 2;
}

.first-block__yellow-rect {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 13%;
  top: 71%;
  z-index: 4;
}

.first-block__bg-rect {
  position: absolute;
  width: 445px;
  height: 598px;
  top: 12%;
  left: 15%;
  background: #f86161;
  border-radius: 59px;
  z-index: 1;
}

.first-block__dots {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 8%;
  right: -10%;
}

.first-block__clients {
  position: absolute;
  top: 45px;
  left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
  background: #121b30;
  border-radius: 21px;
  max-width: 159px;
  width: 100%;
  padding: 22px 10px 28px;
}

.first-block__clients-img {
  width: 52px;
  height: 52px;
  background-color: #f6f4fc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 22px 0px;
}

.first-block__percents {
  margin: 0px 0px 8px 0px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.first-block__clients-text {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.first-block__sale {
  position: absolute;
  bottom: 41%;
  right: -32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
  background: #121b30;
  border-radius: 21px;
  padding: 10px 20px 10px 20px;
  max-width: 288px;
  width: 100%;
  height: 100px;
}

.first-block__sale-img {
  width: 52px;
  height: 52px;
  background-color: #f6f4fc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 14px 0px 0px;
}

.first-block__sale-quantity {
  font-size: 22px;
  color: #ffffff;
  margin: 0px 0px 6px 0px;
}

.first-block__sale-text {
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  max-width: 160px;
  width: 100%;
}

.first-block__profit {
  position: absolute;
  bottom: -15%;
  right: -12%;
  background: #ffffff;
  border-radius: 15px;
  z-index: 3;
  padding: 10px 10px 20px 10px;
  max-width: 326px;
  width: 100%;
  height: 300px;
}

.first-block__profit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 32px 0px;
  padding: 10px 0 0 10px;
}

.first-block__profit-img {
  width: 52px;
  height: 52px;
  background-color: #f6f4fc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 18px 0px 0px;
}

.first-block__profit-title {
  max-width: 145px;
  width: 100%;
  font-family: Gotham Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #121b30;
}

.first-block__profit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.first-block__profit-numbers {
  position: absolute;
  width: 31px;
  height: 100%;
}

.first-block__profit-number {
  position: absolute;
  font-size: 9px;
  color: #878e9c;
  left: 50%;
}

.first-block__profit-number_400 {
  top: 2%;
}

.first-block__profit-number_300 {
  top: 15%;
}

.first-block__profit-number_200 {
  top: 31%;
}

.first-block__profit-number_100 {
  top: 46%;
}

.first-block__profit-graph {
  position: absolute;
  top: 3%;
  left: 15%;
}

.first-block__profit-line {
  position: absolute;
  top: 3%;
}

.first-block__profit-table {
  border-collapse: collapse;
}

.first-block__profit-td {
  width: 34px;
  height: 41px;
  border: 1px solid #e6ebf0;
}

.input {
  display: inline-block;
  width: 100%;
  padding: 18px;
  background: #ffffff;
  border-radius: 12px;
  font-size: 18px;
  color: #000;
}

.input::-webkit-input-placeholder {
  color: #bcbcbc;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::-moz-placeholder {
  color: #bcbcbc;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:-ms-input-placeholder {
  color: #bcbcbc;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::-ms-input-placeholder {
  color: #bcbcbc;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input::placeholder {
  color: #bcbcbc;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
  visibility: hidden;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
  .header__tel:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header__tel:hover:before {
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__whatsapp {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__whatsapp:hover {
    background: #5015f37e;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__link:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .header-menu__link:hover:before {
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .first-block__button:hover {
    background: #f86161ad;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1550px) {
  .first-block__sale {
    right: -12%;
  }
}

@media (max-width: 1400px) {
  .header__logo {
    left: 0;
  }

  .header-menu {
    left: 0;
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 1375px) {
  .header__contacts {
    margin: 0px 50px 0px 0px;
  }
}

@media (max-width: 1345px) {
  .first-block__dots {
    right: 0;
  }

  .first-block__sale {
    right: 0;
  }

  .first-block__profit {
    right: 0;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }

  .header__tel {
    margin: 0px 20px 0px 0px;
    font-size: 16px;
  }

  .header-menu__list li {
    margin: 0px 15px 0px 0px;
  }

  .first-block__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-block__number {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
    max-width: 335px;
  }

  .first-block__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__contacts {
    margin: 0px 30px 0px 0px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__tel {
    font-size: 0;
    background: url("../img/call.svg") center/22px 22px no-repeat;
    width: 22px;
    height: 22px;
    z-index: 11;
    margin: 0px 50px 0px 0px;
  }

  .header__whatsapp:before {
    left: 0;
  }

  .header__whatsapp {
    font-size: 0;
    background-color: inherit;
    padding: 0;
  }

  .header-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1000%;
    background-color: #404755;
    padding: 150px 0px 0px 0px;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    z-index: 10;
  }

  .header-menu.active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
  }

  .header-menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 20;
    left: 4%;
  }

  .header-menu__icon:before,
  .header-menu__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 3;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header-menu__icon:before {
    top: 0;
  }

  .header-menu__icon:after {
    bottom: 0;
  }

  .header-menu__icon span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 9px;
    background-color: #fff;
    height: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header-menu__icon.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header-menu__icon.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-menu__icon.active span {
    display: none;
  }

  .header-menu__list {
    display: block;
    text-align: center;
  }

  .header-menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .header-menu__link {
    font-size: 2s5px;
  }

  .first-block {
    padding: 70px 0px 70px 0px;
  }

  .first-block__plus-14 {
    display: none;
  }

  .first-block__plus-9 {
    display: none;
  }

  .first-block__plus-8 {
    display: none;
  }

  .first-block__round {
    display: none;
  }

  .first-block__line {
    display: none;
  }

  .first-block__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .first-block__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .first-block__info {
    padding: 125px 0px 0px 0px;
  }

  .first-block__title {
    font-size: calc(25px + (48 - 25) * ((100vh - 320px) / (1200 - 320)));
    line-height: calc(30px + (72 - 30) * ((100vh - 320px) / (1200 - 320)));
  }

  .first-block__text {
    font-size: calc(18px + (25 - 18) * ((100vh - 320px) / (1200 - 320)));
  }

  .first-block__number {
    max-width: 400px;
    padding: 0;
  }

  .first-block__button {
    max-width: 400px;
  }

  .first-block__images {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .first-block__main-img {
    margin: 0px 0px 30px 0px;
  }

  .first-block__yellow-rect {
    display: none;
  }

  .first-block__bg-rect {
    top: 22%;
    width: 100%;
    height: 78%;
    left: 0;
  }

  .first-block__dots {
    display: none;
  }

  .first-block__clients {
    position: relative;
    left: 0;
    top: 0;
    margin: 0px auto 30px;
  }

  .first-block__sale {
    position: relative;
    left: 0;
    top: 0;
    margin: 0px auto 30px;
  }

  .first-block__profit {
    position: relative;
    left: 0;
    top: 0;
    margin: 0px auto;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .header-menu__icon {
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }

  .header {
    top: 30px;
  }

  .header__tel {
    margin: 0;
  }

  .header__whatsapp {
    display: none;
  }

  .first-block__info {
    padding: 100px 0px 0px 0px;
    margin: 0 0 30px 0;
  }

  .first-block__title {
    text-align: center;
    margin: 0px auto 23px;
  }

  .first-block__text {
    text-align: center;
    margin: 0px auto 54px;
  }

  .first-block__form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .first-block__main-img img {
    max-width: 100%;
  }

  .first-block__profit-line img {
    max-width: 100%;
  }
}